/* Variables de Colores */
:root {
    --primary: #1F1F1F; /* Negro suave para el fondo */
    --primary-dark: #0D0D0D; /* Negro profundo para áreas destacadas */
    --secondary: #4A4A4A; /* Gris oscuro para detalles */
    --secondary-dark: #2E2E2E; /* Gris muy oscuro para contrastes */
    --white: #F7F7F7; /* Blanco claro para texto */
    --white2: #EAEAEA; /* Blanco con un toque gris */
    --white3: #F0F0F0; /* Blanco suave adicional */
    --gray: #B3B3B3; /* Gris claro para fondos secundarios */
    --gray2: #8C8C8C; /* Gris medio para áreas intermedias */
    --gray3: #666666; /* Gris oscuro para textos secundarios */
    --black: #262626; /* Negro para títulos */
    --black2: #1A1A1A; /* Negro para bordes y detalles finos */
    --black3: #000000; /* Negro absoluto para acentos fuertes */
}
